@tailwind base;
@tailwind components;
@tailwind utilities;

svg.dagre-d3-react .nodes {
  fill: darkgray;
}

svg.dagre-d3-react .nodes text {
  fill: black;
  font-size: 12;
}

svg.dagre-d3-react path {
  stroke: black;
  fill: black;
  stroke-width: 1.5px;
}

.stripe-border {
  position: relative;
  display: 'block';
  width: 100%;
  padding-bottom: 10px;
}

.stripe-border::after {
  content: '';
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8f201c;
  background: repeating-linear-gradient(
    -45deg,
    #eeeade,
    #eeeade 20px,
    #8f201c 20px,
    #8f201c 40px,
    #eeeade 40px,
    #eeeade 60px,
    #384d6a 60px,
    #384d6a 80px
  );
}

.CodeMirror {
  height: 600px !important;
  width: 800px;
  font-size: 14px;
}
