@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@strudel.cycles/react/dist/style.css';

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: ' ';
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
  position: relative;
}

h1:hover .icon-link,
h2:hover .icon-link,
h3:hover .icon-link,
h4:hover .icon-link,
h5:hover .icon-link,
h6:hover .icon-link,
.icon.icon-link:hover {
  visibility: visible;
}
.icon.icon-link {
  background-image: url(./public/link.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  color: gray;
  fill: black;
  position: absolute;
  visibility: hidden;
  margin-left: -20px;
  width: 20px;
  margin-top: 8px;
}

svg.dagre-d3-react .nodes {
  fill: darkgray;
}

svg.dagre-d3-react .nodes text {
  fill: black;
  font-size: 12;
}

svg.dagre-d3-react path {
  stroke: black;
  fill: black;
  stroke-width: 1.5px;
}

.stripe-border {
  position: relative;
  display: 'block';
  width: 100%;
  padding-bottom: 10px;
}

.stripe-border::after {
  content: '';
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8f201c;
  background: repeating-linear-gradient(
    -45deg,
    #eeeade,
    #eeeade 20px,
    #8f201c 20px,
    #8f201c 40px,
    #eeeade 40px,
    #eeeade 60px,
    #384d6a 60px,
    #384d6a 80px
  );
}

#table-of-contents + ul > li > p {
  padding: 0px;
  margin: 0px;
}
